# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
*.code-workspace

# Logs
*.log

# Distribution
*.egg-info/
dist/
build/

# Environment variables
.env
.env.local
